.roadmap-card {
    width: 320px;
    border: 5.4px solid #003399;
    border-radius: 20px;
    background-color: #fff;
    margin-right: 70px;
}

.roadmap-card:last-child {
    margin-right: 0;
}

.roadmap-card__subtitle {
    font-family: "Bagel Fat One", sans-serif;
    font-size: 18px;
    text-align: center;
}

.roadmap-card__title {
    font-family: "Bagel Fat One", sans-serif;
    font-size: 32px;
    color: #D71118;
    text-align: center;
    margin-right: 12px;
    margin-left: 12px;
}

.roadmap-card__content-text {
    font-family: "Bagel Fat One", sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #00339924;
    border-radius: 20px;
    white-space: pre-line;
}
