.cresh-card {
    height: 190px;
    width: 594px;
    border: 5.4px solid #003399;
    border-radius: 28px;
    background-image: url(../../assets/sections/common/StarCardBg.png) !important;
    background-color: white;
    background-position: center;
    transform: rotate(-4deg);
    display: flex;
    flex-direction: column;
}

.cresh-card__title {
    font-family: "Bagel Fat One", sans-serif;
    font-size: 96px;
    color: #D71118;
    position: absolute;
    top: 18px;
    margin-left: 10px;
}

.cresh-card__decoration {
    display: flex;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 8px;
}

.cresh-card__decoration:last-child {
    margin-top: auto;
    margin-bottom: 8px;
}
