.cresh-card {
    height: 190px;
    width: 594px;
    border: 5.4px solid #003399;
    border-radius: 28px;
    background-image: url(../../assets/sections/common/StarCardBg.png);
    background-color: white;
    background-position: center;
    transform: rotate(-4deg);
    display: flex;
    flex-direction: column;
}

.cresh-card__title {
    font-family: "Bagel Fat One", sans-serif;
    font-size: 96px;
    line-height: 76px;
    color: #D71118;
    position: absolute;
    top: 48px;
    margin-left: 10px;
}

.cresh-card__decoration {
    display: flex;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 8px;
}

.cresh-card__decoration:last-child {
    margin-top: auto;
    margin-bottom: 8px;
}

@media (min-width: 576px) and (max-width: 767px) {
    .cresh-card {
        height: 138px;
        width: 430px;
    }

    .cresh-card__title {
        top: 42px;
        font-size: 67px;
        line-height: 38px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .cresh-card {
        height: 95px;
        width: 298px;
    }

    .cresh-card__title {
        top: 18px;
        font-size: 46px;
        line-height: 38px;
    }
}
