.origin-card {
    height: 475px;
    width: 432px;
    border: 5.4px solid #003399;
    background-image: url(../../assets/sections/common/StarCardBg.png) !important;
    background-color: white;
    background-position: center;
    transform: rotate(-3deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    z-index: 98;
}

.origin-card__title {
    font-family: "Bagel Fat One", sans-serif;
    font-size: 51px;
    color: #D71118;
    margin-top: 30px;
    text-align: center;
    line-height: 51px;
}

.origin-card__content {
    font-family: "Bagel Fat One", sans-serif;
    font-size: 16px;
    color: #000;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.origin-card__btn {
    background-color: #D71118;
    border-radius: 96px;
    border: none;
    width: 65px;
    height: 31px;
    cursor: pointer;
}

.origin-card__btn:hover {
    background-color: #003399;
}

.origin-card__controller {
    margin-top: 30px;
}

.origin-card__decoration {
    width: 355px;
    height: 38px;
    margin-top: 30px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .origin-card {
        width: 300px;
        height: 333px;
        transform: rotate(0deg);
    }

    .origin-card__title {
        font-size: 36px;
        line-height: 28px;
    }

    .origin-card__content {
        font-size: 12px;
        line-height: 17px;
    }

    .origin-card__controller {
        margin-top: 20px;
    }

    .origin-card__decoration {
        width: 246px;
        margin-top: 10px;
    }

    .origin-card__btn {
        height: 24px;
        width: 50px;
    }
}
