.about {
    position: relative;
    height: 2159px;
    max-width: 1748px;
    width: 100%;
    background-image: url(../assets/sections/about/AboutBg.png);
    /*background-size: 100% 100%;*/

    /*background-size: cover;*/
    background-size: 100% 100%;
    /*background-size: 100%;*/

    /*background-position: 75% 75%;*/
    background-position: center;

    /*background-position: top;*/
    background-repeat: no-repeat;

    /*background-attachment: fixed;*/
}

.about__cresh-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about__about-content {
    position: relative;
    margin-top: 440px;
}

.about__about-card {
    display: flex;
    justify-content: center;
    margin-top: -510px;
}

.about__origin-content {
    display: flex;
    justify-content: center;
    margin-top: 330px;
}

.about__cresh-bandicoot {
    position: absolute;
    top: 8px;
    z-index: 10;
    height: 410px;
    width: 205px;
}

.about__box {
    position: relative;
    top: 402px;
    left: -31px;
    width: 183px;
    height: 182px;
}

.about__left-palm {
    position: absolute;
    top: 6%;
}

.about__right-palm {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
}

.about__flag {
    position: relative;
    height: 244px;
    width: 212px;
    top: 280px;
    left: 77%;
    z-index: 100;
}

.about__cresh-card {
    position: absolute;
    top: 470px;
    z-index: 999;
}

.about__girl-flying {
    position: relative;
    left: 40px;
    bottom: -300px;
    height: 481px;
    width: 457px;
}

.about__cresh-riding {
    position: absolute;
    bottom: -220px;
    right: 22%;
    height: 321px;
    width: 282px;
}

.about__treasure {
    position: absolute;
    bottom: -320px;
    right: 64px;
    height: 263px;
    width: 221px;
    z-index: 10;
}

.about__treasure-shadow {
    position: absolute;
    right: 16px;
    bottom: -420px;
    height: 263px;
    width: 221px;
}

.about__coin-1 {
    position: absolute;
    bottom: -348px;
    right: 23%;
    height: 47px;
    width: 67px;
}

.about__coin-2 {
    position: absolute;
    bottom: -550px;
    right: 26%;
    height: 66px;
    width: 104px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .about {
        height: 1902px;
    }

    .about__about-card {
        margin-top: -520px;
    }

    .about__left-palm {
        left: -10%;
    }

    .about__right-palm {
        right: -10%;
    }

    .about__flag {
        top: 200px;
    }

    .about__girl-flying {
        left: 10px;
        bottom: -200px;
        height: 380px;
        width: 361px;
    }

    .about__cresh-riding {
        bottom: -140px;
        right: 22%;
        height: 250px;
        width: 220px;
    }

    .about__treasure {
        bottom: -230px;
        right: 80px;
        height: 200px;
        width: 168px;
    }

    .about__treasure-shadow {
        height: 238px;
        width: 200px;
        bottom: -315px;
        right: 34px;
    }

    .about__coin-1 {
        bottom: -248px;
    }

    .about__coin-2 {
        bottom: -440px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .about {
        height: 1502px;
    }

    .about__about-card {
        margin-top: 80px;
    }

    .about__cresh-card {
        top: 402px;
    }

    .about__left-palm {
        left: -1%;
        height: 350px;
    }

    .about__right-palm {
        right: -1%;
        height: 350px;
    }

    .about__cresh-bandicoot {
        height: 350px;
        width: 175px;
    }

    .about__box {
        top: 340px;
        height: 150px;
        width: 151px;
    }

    .about__flag {
        height: 200px;
        width: 174px;
        top: 136px;
    }

    .about__girl-flying {
        height: 300px;
        width: 358px;
        bottom: -20px;
        left: -20px;
    }

    .about__cresh-riding {
        height: 195px;
        width: 222px;
        bottom: -2px;
    }

    .about__treasure {
        height: 150px;
        width: 125px;
        top: 210px;
        right: 42px;
    }

    .about__treasure-shadow {
        height: 52px;
        width: 145px;
        top: 312px;
        right: 8px;
    }

    .about__coin-1 {
        bottom: -70px;
        height: 30px;
        width: 43px;
    }

    .about__coin-2 {
        bottom: -210px;
        height: 40px;
        width: 63px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .about {
        height: 1102px;
    }

    .about__cresh-card {
        top: 350px;
    }

    .about__about-card {
        margin-top: -50px;
    }

    .about__left-palm {
        left: -10%;
        height: 305px;
    }

    .about__right-palm {
        right: -10%;
        height: 305px;
    }

    .about__cresh-bandicoot {
        height: 300px;
        width: 152px;
    }

    .about__flag {
        height: 140px;
        width: 122px;
        top: 74px;
    }

    .about__box {
        height: 130px;
        width: 131px;
        top: 296px;
        left: -22px;
    }

    .about__girl-flying {
        height: 165px;
        width: 197px;
        bottom: 60px;
        left: 8px;
    }

    .about__cresh-riding {
        height: 135px;
        width: 154px;
        bottom: 78px;
    }

    .about__treasure {
        height: 85px;
        width: 71px;
        top: 55px;
        right: 20px;
    }

    .about__treasure-shadow {
        height: 28px;
        width: 78px;
        top: 112px;
        right: 4px;
    }

    .about__coin-1 {
        bottom: 30px;
        height: 30px;
        width: 43px;
    }

    .about__coin-2 {
        bottom: -80px;
        height: 40px;
        width: 63px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .about {
        height: 702px;
    }

    .about__about-card {
        margin-top: 20px;
    }

    .about__cresh-card {
        top: 240px;
    }

    .about__left-palm {
        left: -4%;
        height: 205px;
    }

    .about__right-palm {
        right: -1%;
        height: 205px;
    }

    .about__cresh-bandicoot {
        height: 205px;
        width: 102px;
    }

    .about__box {
        top: 205px;
        height: 82px;
        width: 83px;
        left: -14px;
    }

    .about__flag {
        height: 68px;
        width: 79px;
        top: 38px;
    }

    .about__about-content {
        margin-top: 220px;
    }

    .about__girl-flying {
        height: 114px;
        width: 136px;
        bottom: 0;
        left: 8px;
    }

    .about__cresh-riding {
        height: 104px;
        width: 91px;
        bottom: 12px;
    }

    .about__treasure {
        height: 85px;
        width: 71px;
        top: 55px;
        right: 20px;
    }

    .about__treasure-shadow {
        height: 28px;
        width: 78px;
        top: 112px;
        right: 4px;
    }

    .about__coin-1 {
        bottom: -30px;
        height: 25px;
        width: 36px;
    }

    .about__coin-2 {
        bottom: -94px;
        height: 33px;
        width: 52px;
    }
}
