.roadmap {
    position: relative;
    height: 1526px;
    max-width: 1748px;
    width: 100%;
    background-image: url(../assets/sections/roadmap/RoadmapBg.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    /* TODO доработать или убрать */
    scroll-snap-align: start;
}

.roadmap__phases {
    position: relative;
    margin-top: 380px;
}

.roadmap__cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 208px;
    z-index: 999;
}

.roadmap__table {
    position: absolute;
    width: 790px;
    height: 311px;
    left: 23%;
    top: 13%;
    z-index: 98;
}

.roadmap__mask {
    position: relative;
    bottom: 5%;
    left: 80%;
    height: 191px;
    width: 181px;
}

.roadmap__box-1 {
    position: absolute;
    width: 437px;
    height: 287px;
    top: 250px;
    left: 0;
    z-index: 99;
}

.roadmap__box-2 {
    position: absolute;
    width: 308px;
    height: 215px;
    top: 300px;
    right: 0;
    z-index: 99;
}

.roadmap__cresh-counting {
    position: relative;
    left: 30%;
    bottom: 2px;
    height: 258px;
    width: 209px;
}

.roadmap__cresh-bandicoot {
    position: absolute;
    height: 90px;
    left: 46%;
    z-index: 99;
}

.roadmap__island-1 {
    position: absolute;
    height: 257px;
    width: 296px;
    top: -36px;
    left: 14%;
    z-index: 99;
}

.roadmap__island-2 {
    position: absolute;
    height: 261px;
    width: 298px;
    top: 43%;
    left: 36%;
    z-index: 88;
}

.roadmap__island-3 {
    position: absolute;
    height: 249px;
    width: 297px;
    top: -50px;
    right: 22%;
}

.roadmap__card-wrapper {
    margin-right: 70px;
}

.roadmap__card-wrapper:last-child {
    margin-right: 0;
}

.roadmap__roadmap-cards {
    display: flex;
    align-items: center;
}

.roadmap__roadmap-card {
    display: none;
}

.roadmap-bg {
    background-color: #16257C;
    height: 180px;
    width: 100%;
    display: none;
}

@media (min-width: 1440px) {
    .roadmap__cresh-counting {
        left: 28%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .roadmap {
        height: 1300px;
    }

    .roadmap__cards {
        top: 110px;
    }

    .roadmap-card {
        margin-right: 8px;
    }

    .roadmap__table {
        width: 590px;
        height: 232px;
        left: 20%;
        top: 13%;
    }

    .roadmap__mask {
        bottom: 5%;
        left: 78%;
        height: 170px;
        width: 161px;
    }

    .roadmap__box-1 {
        width: 335px;
        height: 220px;
    }

    .roadmap__box-2 {
        width: 257px;
        height: 180px;
        top: 280px;
    }

    .roadmap__cresh-counting {
        left: 23%;
        bottom: 2px;
        height: 220px;
        width: 172px;
    }

    .roadmap__cresh-bandicoot {
        bottom: 2px;
        left: 46%;
    }

    .roadmap__island-1 {
        height: 205px;
        width: 236px;
        top: -72px;
        left: 14%;
    }

    .roadmap__island-2 {
        height: 208px;
        width: 237px;
        top: -48px;
        left: 36%;
    }

    .roadmap__island-3 {
        height: 206px;
        width: 246px;
        top: -96px;
        right: 20%;
    }

    .roadmap__card-wrapper {
        margin-right: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .roadmap {
        height: 1000px;
    }


    .roadmap__cards {
        top: 58px;
    }

    .roadmap__cresh-counting {
        height: 150px;
        width: 116px;
        bottom: -18px;
        left: 26%;
    }

    .roadmap__table {
        width: 470px;
        height: 185px;
        left: 20%;
        top: 13%;
    }

    .roadmap__mask {
        height: 116px;
        width: 120px;
        left: 79%;
        bottom: 32px;
    }

    .roadmap__box-1 {
        width: 289px;
        height: 190px;
        top: 200px;
    }

    .roadmap__box-2 {
        width: 200px;
        height: 140px;
        top: 220px;
    }

    .roadmap__island-1 {
        height: 200px;
        width: 230px;
        top: -144px;
        left: 34%;
    }

    .roadmap__roadmap-cards {
        display: none;
    }

    .roadmap__islands {
        display: none;
    }

    .roadmap__roadmap-card {
        display: block;
    }

    .roadmap-bg {
        display: block;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .roadmap {
        height: 750px;
    }

    .roadmap__cards {
        top: -50px;
    }

    .roadmap__cresh-counting {
        height: 123px;
        width: 95px;
        bottom: -4px;
        left: 28%;
    }

    .roadmap__table {
        width: 334px;
        height: 131px;
        left: 23%;
        top: 14%;
    }

    .roadmap__mask {
        height: 88px;
        width: 84px;
        left: 80%;
        bottom: 32px;
    }

    .roadmap__box-1 {
        width: 197px;
        height: 130px;
        top: 150px;
    }

    .roadmap__box-2 {
        width: 128px;
        height: 90px;
        top: 170px;
    }

    .roadmap__island-1 {
        height: 151px;
        width: 174px;
        top: -200px;
        left: 33%;
    }

    .roadmap__roadmap-cards {
        display: none;
    }

    .roadmap__roadmap-card {
        display: block;
    }

    .roadmap__islands {
        display: none;
    }

    .roadmap-bg {
        display: block;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .roadmap {
        height: 496px;
    }

    .roadmap__phases {
        margin-top: 200px;
    }

    .roadmap__cards {
        top: 8px;
    }

    .roadmap__cresh-counting {
        height: 80px;
        width: 67px;
        bottom: -2px;
        left: 29%;
    }

    .roadmap__table {
        width: 260px;
        height: 103px;
        left: 23%;
        top: 13%;
    }

    .roadmap__mask {
        height: 62px;
        width: 59px;
        left: 79%;
        bottom: 20px;
    }

    .roadmap__box-1 {
        width: 137px;
        height: 90px;
        top: 104px;
    }

    .roadmap__box-2 {
        width: 94px;
        height: 66px;
        top: 110px;
    }

    .roadmap__island-1 {
        height: 100px;
        width: 115px;
        top: -90px;
        left: 34%;
    }

    .roadmap__roadmap-cards {
        display: none;
    }

    .roadmap__islands {
        display: none;
    }

    .roadmap__roadmap-card {
        display: block;
    }

    .roadmap-bg {
        display: block;
    }
}
