.roadmap {
    height: 1526px;
    max-width: 1748px;
    width: 100%;
    background-image: url(../assets/sections/roadmap/RoadmapBg.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.roadmap__phases {
    position: relative;
    margin-top: 380px;
}

.roadmap__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 208px;
}

.roadmap__mask {
    position: relative;
    bottom: 6%;
    left: 80%;
    height: 191px;
    width: 181px;
}

.roadmap__cresh-counting {
    position: relative;
    left: 30%;
    bottom: 12px;
    height: 268px;
    width: 209px;
}

.roadmap__island-1 {
    position: absolute;
    height: 257px;
    width: 296px;
    top: -36px;
    left: 14%;
}

.roadmap__island-2 {
    position: absolute;
    height: 261px;
    width: 298px;
    top: 43%;
    left: 39%;
    z-index: 88;
}

.roadmap__island-3 {
    position: absolute;
    height: 249px;
    width: 297px;
    top: -50px;
    right: 22%;
}

.roadmap__card-wrapper {
    margin-right: 70px;
}

.roadmap__card-wrapper:last-child {
    margin-right: 0;
}

.roadmap__roadmap-cards {
    display: flex;
    align-items: center;
}

.roadmap__roadmap-card {
    display: none;
}

.roadmap-bg {
    background-color: #16257C;
    height: 180px;
    width: 100%;
    display: none;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .roadmap {
        height: 1300px;
    }

    .roadmap__cards {
        top: 160px;
    }

    .roadmap-card {
        margin-right: 8px;
    }

    .roadmap__mask {
        bottom: 6%;
        left: 79%;
        height: 170px;
        width: 161px;
    }

    .roadmap__cresh-counting {
        left: 23%;
        bottom: 2px;
        height: 220px;
        width: 172px;
    }

    .roadmap__island-1 {
        height: 205px;
        width: 236px;
        top: -36px;
        left: 14%;
    }

    .roadmap__island-2 {
        height: 208px;
        width: 237px;
        top: 43%;
        left: 36%;
    }

    .roadmap__island-3 {
        height: 206px;
        width: 246px;
        top: -50px;
        right: 20%;
    }

    .roadmap__card-wrapper {
        margin-right: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .roadmap {
        height: 1000px;
    }


    .roadmap__cards {
        top: 70px;
    }

    .roadmap__cresh-counting {
        height: 150px;
        width: 116px;
        bottom: -18px;
        left: 26%;
    }

    .roadmap__mask {
        height: 116px;
        width: 120px;
        left: 79%;
        bottom: 40px;
    }

    .roadmap__island-1 {
        height: 200px;
        width: 230px;
        top: -130px;
        left: 34%;
    }

    .roadmap__roadmap-cards {
        display: none;
    }

    .roadmap__islands {
        display: none;
    }

    .roadmap__roadmap-card {
        display: block;
    }

    .roadmap-bg {
        display: block;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .roadmap {
        height: 750px;
    }

    .roadmap__cards {
        top: -50px;
    }

    .roadmap__cresh-counting {
        height: 123px;
        width: 95px;
        bottom: -4px;
        left: 27%;
    }

    .roadmap__mask {
        height: 88px;
        width: 84px;
        left: 80%;
        bottom: 42px;
    }

    .roadmap__island-1 {
        height: 151px;
        width: 174px;
        top: -200px;
        left: 33%;
    }

    .roadmap__roadmap-cards {
        display: none;
    }

    .roadmap__roadmap-card {
        display: block;
    }

    .roadmap__islands {
        display: none;
    }

    .roadmap-bg {
        display: block;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .roadmap {
        height: 496px;
    }

    .roadmap__phases {
        margin-top: 200px;
    }

    .roadmap__cards {
        top: 8px;
    }

    .roadmap__cresh-counting {
        height: 87px;
        width: 67px;
        bottom: 2px;
        left: 25%;
    }

    .roadmap__mask {
        height: 62px;
        width: 59px;
        left: 79%;
    }

    .roadmap__island-1 {
        height: 151px;
        width: 174px;
        top: -146px;
        left: 26%;
    }

    .roadmap__roadmap-cards {
        display: none;
    }

    .roadmap__islands {
        display: none;
    }

    .roadmap__roadmap-card {
        display: block;
    }

    .roadmap-bg {
        display: block;
    }
}
