.roadmap {
    height: 1526px;
    max-width: 1748px;
    width: 100%;
    background-image: url(../assets/sections/roadmap/RoadmapBg.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.roadmap__cards {
    display: flex;
    align-items: center;
    position: relative;
    top: 208px !important;
}
