.tokenomics {
    position: relative;
    height: 812px;
    max-width: 1748px;
    width: 100%;
    background-image: url(../assets/sections/tokenomics/TokenomicsBg.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
}

.tokenomics__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    height: 712px;
    scroll-snap-align: end;
}

.tokenomics__vote-paper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /*z-index: 9999;*/
}

.tokenomics__black-hr {
    position: absolute;
    top: -4px;
    width: 100%;
    max-width: 1748px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .tokenomics {
        height: 650px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .tokenomics {
        height: 550px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .tokenomics {
        height: 400px;
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .tokenomics {
        height: 264px;
        margin-top: 0;
    }
}
