.tokenomics {
    height: 812px;
    max-width: 1748px;
    width: 100%;
    background-image: url(../assets/sections/tokenomics/TokenomicsBg.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}
