.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.footer__text {
    font-family: "Bagel Fat One", sans-serif;
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    max-width: 1000px;
}

@media (min-width: 320px) and (max-width: 575px) {
    .footer__text {
        max-width: 360px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .footer {
        width: 100%;
        background-color: #16257C;
        margin-bottom: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    };
}

@media (min-width: 575px) and (max-width: 991px) {
    .footer__text {
        max-width: 80%;
    }
}
