.link-button {
    border: 3.6px solid #003399;
    background-color: #fff;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.link-button:hover {
    background-color: #eee;
}
