.nav-button {
    border: 3.6px solid #003399;
    border-radius: 108px;
    padding: 10px 18px;
    background-color: #fff;
    color: #D71118;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #eee;
}

.nav-button__link {
    font-family: "Bagel Fat One", sans-serif;
    color: #D71118;
    font-size: 20px;
    text-decoration: none;
    line-height: 28px
}

@media (min-width: 320px) and (max-width: 1199px) {
    .nav-button {
        margin-bottom: 8px;
        height: 53px;
    }
}
