* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    /*height: 100vh;*/
    scroll-snap-stop: always !important;
    scroll-snap-type: y mandatory !important;
    overflow-y: scroll !important;
}

.app__footer {
    width: 100%;
}

/* Скрытие скроллбара для веб-китов и Chrome */
::-webkit-scrollbar {
    display: none !important; /* Скрывает скроллбар */
    width: 0 !important;
}

/* Скрытие скроллбара для Firefox */
.scrollable {
    scrollbar-width: none !important; /* Для Firefox */
}

/* Скрытие скроллбара для IE и Edge */
.scrollable {
    -ms-overflow-style: none !important; /* Для IE и Edge */
}

@font-face {
    font-family: "Bagel Fat One";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/Bagel_Fat_One/BagelFatOne-Regular.ttf") format("truetype");
}

@media (min-width: 768px) {
    .app__footer {
        display: none;
    }
}
