* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    scroll-snap-stop: always;
    scroll-snap-type: y mandatory;
}

.app__footer {
    width: 100%;
}

@font-face {
    font-family: "Bagel Fat One";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/Bagel_Fat_One/BagelFatOne-Regular.ttf") format("truetype");
}

@media (min-width: 768px) {
    .app__footer {
        display: none;
    }
}
